html,
body {
    margin: 0;
    font-family: Roboto, Airal;
    color: rgb(33, 37, 41);
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
}

.page-container {
    width: 100%;
    display: block;
    background-color: lightgrey;
}

.content-container {
    width: 60%;
    max-width: 1500px;
    min-width: 850px;
}

.content-card {
    background-color: white;
    border-radius: 15px;
    margin-top: 15px;
}

.content-card-margin {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 75px;
    margin-right: 75px;
}

.content-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}